.app-container {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;

  #image {
    display: none;
  }

  .download-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }

  .edit-button {
    position: fixed;
    left: 20px;
    bottom: 20px;
  }

  .menu-button {
    position: fixed;
    right: 20px;
    top: 20px;
  }

  .action-button {
    width: 200px;
  }
}
